footer.page-footer.white
    .footer-copyright.white
        .container.center
            a(href="http://github.com/robcalcroft/wishlist-api", class='grey-text', style='padding-right:2vw;') Source Code
            a(href="/api/docs", class='grey-text', style='padding-right:2vw;') API Documentation
            a(href="#", class='grey-text', style='padding-right:2vw;') Help
script(src="/public/dist/js/jquery-2.1.1.min.js")
script(src="/public/dist/js/materialize.min.js")
script(src="/public/dist/js/wishlist.js")
