nav
    .nav-wrapper
        a.brand-logo.center.brand-font WISHLIST
        a(data-activates='mobile-menu', class='button-collapse', href='javascript:void(0)', style='padding-left:10px;')
            i.material-icons menu
        if !user
            ul.hide-on-med-and-down.right
                li(class='#{selectedLink.signup || ""}')
                    a(href="/sign-up") Sign Up
                li(class='#{selectedLink.login || ""}')
                    a(href="/login") Log In
        else 
            ul.hide-on-med-and-down.right
                li(class='active')
                    a(href="/profile") #{user.username}
                li
                    a(href="/logout") Logout
        div.side-nav#mobile-menu
            h4.grey-text.center.brand-font WISHLIST
            .divider
            ul    
                li 
                    a(href="/sign-up") Sign Up
                li
                    a(href="/login") Log In
            .divider
            .grey-text.center Rob Calcroft &copy; 2015
